* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
}

li{
  display: list-item;
  text-align: -webkit-match-parent;
}

body {
   font-family: serif;
}

@charset "utf-8";

@media screen and (max-width:480px) {

  .pcWrap{
    display:none;
  }

  .pc1{
    display:none;
    }
    .pc2{
      display:none;
    }
   .pc3{
      display:none;
    }

  .top{
    width:100%;
    height:250px;
    background-image: url(../img/sajyo.jpg);
    background-size: cover;
  }

  .top2{
    width:100%;
    height:200px;
    background-image: url(../img/img2.jpg);
    background-size: cover;
  }

  .lesson-wrapper-4 {
    padding-left: 10%;
    margin: 0 auto;
    width: 70%;
    padding-top: 25%;
  }

  .lesson-wrapper-4 h1{
      font-size: 50px;
      color: white;
    }

  .lesson-wrapper-4 h2{
    font-size: 15px;
    color: white;
    padding-left:60%;
  }

  .part{
   font-size:10px;
  }

  .company{
    padding-bottom:5%;
    padding-top:5%;
  }

  .company1{
    padding-bottom:5%;
    }

  .company6{
    padding-bottom:5%;
  }

  .new3{
    writing-mode: vertical-rl;
    float:left;
    font-size:50px;
    width:20%;
  }

  .new5{
    float:right;
  }

  .news{
    margin-top:10%;
  }

  .fed{
    width:100%;
    margin-top:5%;
  }

  .fed2{
    margin-top:32px;
    border-bottom: 1px solid #524e4d;
    width:120px;
    margin: 0  auto;
  }

  .fed3{
    letter-spacing: 5px;
    font-size:24px;
  }

  .fed5{
    width: 100%;
  }

  .fed5 p{
    letter-spacing: 5px;
    font-size: 15px;
  }

  .fed0 p{
    letter-spacing: 5px;
  }

  .job{
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
    border-top:1px solid #aabcc2;
    background:#f8fbf8;
  }

  .fed5 li{
    padding: 32px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
  }

  .red{
    float: left;
    font-size: 10px;
    padding-left: 20px;
    width:120px;
  }

  .red2{
    font-style: normal;
  }

  .blue{
    float: left;
    font-size:10px;
  }

  .blue2{
    font-style: normal;
  }

  .bike{
    padding-left: 3%;
    font-size:10px;
  }

  .bike1{
    padding-top: 5%;
    padding-bottom:5%;
  }

  .bike2{
     padding-bottom:5%;
  }

  .bike3{
    padding-top: 3%;
  }

  .fade{
    width:100%;
    height:220px;
    background-image: url(../img/img3.jpg);
    background-size: cover;
  }

  .COMPANY p{
    width: 100%;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 0;
    letter-spacing: 1.5px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
  }

  .COMPANY{
    position:relative;
    background:black;
    height:150px;
    margin-top:25%;
  }

  .COMPANY img{
    width:100%;
    height:150px;
  }

  .COMPANY img:hover{
    opacity: 0.3;
    transition: 0.2s;
  }

  .top-wrapper-1 {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
  }

  .top-wrapper-2 h1 {
    position: absolute;
    top: 40%;
    left: 18%;
    color:white;
    font-size:15px;
  }

  .top-wrapper-2 h2 {
    position: absolute;
    top: 44%;
    left: 18%;
    color:white;
    font-size:10px;
  }

  .top-wrapper {
      width: 100%;
      height:700px;
      background-image: url(../img/singaito2.JPG);
      background-size:cover;
  }

  .header-left {
    float: left;
    padding-top:1%;
    padding-left:1%
  }

  .header-left img{
    width:50px;
    height:50px;
  }

  .header-left h1 {
    color: transparent;
    background-color: black;
    font-size: 15px;
    color: white;
    -webkit-background-clip: text;
    position:absolute;
    top:70%;
  }

  .fadenight {
      opacity: 0;
      transform: translate(-30px, 0px);
      transition: all 5s;
  }

  .fadelight {
      opacity: 0;
      transform: translate(0px, 0px);
      transition: all 3s;
  }

  .fadein {
      opacity: 0;
      transform: translate(0px, 50px);
      transition: all 1s;
  }

  .active {
      opacity: 1;
      transform: translate(0px, -20px);
  }

  .newtime {
      opacity: 0;
  }

  .newtime2{
    float:left;
    font-size:17px;
  }

  .newtime3{
    float:left;
    padding-left:30px;
    font-size:12px;
  }

  .section-title{
      font-family: "MS 明朝", serif;
      padding-top: 60px;
      font-size: 35px;
      border-bottom: 0.8px solid black;
      width: 110px;
      text-align: center;
      margin: 0 auto;
      transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
  }

  .NEWS{
    margin-top:2%;
  }

  .news{
    margin:5% auto 3% auto;
    width:80%;
    display:flex;
    justify-content:space-between;
  }

  .new5{
    float:right;
  }

  .delayFadein{
    width:70%;
  }

  .delayFadein2{
    margin-bottom:10%;
  }

  .job{
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
    border-top:1px solid #aabcc2;
    background:#f8fbf8;
  }


  .header-right {
      float: right;
      color: white;
      margin-top: 2%;
      font-size: 12px;
      margin-right:5%;
  }

  .header-right a{
    display:inline-block;
    color:white;
    padding-right:10px;
    padding-top:3%;
  }

  .message-wrapper {
    width: 1000px;
     width: 100%;
  }

  .message-wrapper h1 {
    padding-bottom: 5%;
    text-align: center;
  }

  .message-wrapper-2 h1{
   font-weight: 200;
   font-family:'Lato','Noto Sans JP'
   , 'ヒラギノ角ゴ ProN'
   , 'Hiragino Kaku Gothic ProN'
   , 'メイリオ', Meiryo
   , 'ＭＳ Ｐゴシック'
   , 'MS PGothic'
   , sans-serif;
  }

  .menu-wrapper h1 {
      float: left;
  }

  .menu-wrapper h2 {
      float: left;
  }

  .good-wrapper {
      margin-top: 10%;
  }

  .good-wrapper-2 {
      width: 100%;
      height: 450px;
  }

  .good-wrapper h1 {
      padding-bottom: 5%;
  }

  .good-wrapper-2 h1 {
      text-align: center;
  }

  .item-2 {
      position: relative;
      width: 100%;
      height: 150px;
      background: black;
      color: white;
      opacity: 0;
  }

  .item-2 img:hover {
    opacity: 0.3;
    transition: 0.2s;
  }

  .item-2 img {
    width: 100%;
    height: 150px;
    border: 1px solid white;
  }

  .item-2 p {
      width: 100%;
      font-size: 23px;
      position: absolute;
      top: 50%;
      left: 0;
      letter-spacing: 1.5px;
      transform: translateY(-50%);
      text-align: center;
      color: white;
  }

  .contact {
      text-align: center;
     margin-top: 15%;
  }

  .contact-2 h2 {
      font-weight: 400;
      font-family: 'Lato'
      , 'Noto Sans JP'
      , 'ヒラギノ角ゴ ProN'
      , 'Hiragino Kaku Gothic ProN'
      , 'メイリオ', Meiryo
      , 'ＭＳ Ｐゴシック'
      , 'MS PGothic'
      , sans-serif;
      font-size: 30px;
      padding-top: 20px;
  }

  .contact p {
      padding-bottom: 60px;
      padding-top:20px;
  }

  .contact-3 {
      border: 1px solid black;
      width: 200px;
      padding: 20px 190px;
      display: inline-block;
      transition: all 0.5s;
      font-family: "MS 明朝", serif;
      border-radius: 50px;
  }

  .contact-3:hover {
      background-color:#38b48b;
      color: white;
  }

  .contact-3 {
      border: 1px solid black;
      width: 200px;
      padding: 20px 50px;
      display: inline-block;
      margin-top: 20px;
      transition: all 0.5s;
      font-family: serif;
      border-radius: 50px;
  }

  .footer-2 {
      margin: 15% auto;
      width: 90%;
      font-size: 13px;
      font-family: "MS 明朝";
  }

  .footer-3 {
      float: left;
      width: 25%;
      font-family: serif;
  }

  .footer-3 p {
      font-weight: bold;
      padding-bottom: 7px;
  }

  .footer-3 span {
      font-weight: bold;
  }

  .dre {
      padding-left: 120px;
  }

  .footer-4 p {
      font-size: 10px;
      padding-left:5%;
      padding-bottom:5%;
  }

  .good-wrapper {
      text-align: center;
  }
}

@media screen and (min-width:481px) and ( max-width:767px) {
  .pcWrap{
    display:none;
  }

  .pc1{
    display:none;
    }
    .pc2{
      display:none;
    }
   .pc3{
      display:none;
    }

  .top{
    width:100%;
    height:270px;
    background-image: url(../img/sajyo.jpg);
    background-size: cover;
  }

  .top2{
    width:100%;
    height:270px;
    background-image: url(../img/img2.jpg);
    background-size: cover;
  }

  .lesson-wrapper-4 {
    padding-left: 10%;
    margin: 0 auto;
    width: 70%;
    padding-top: 23%;
  }

  .lesson-wrapper-4 h1{
      font-size: 60px;
      color: white;
    }

  .lesson-wrapper-4 h2{
    font-size: 20px;
    color: white;
    padding-left:60%;
  }

  .part{
   font-size:10px;
  }

  .company{
    padding-bottom:5%;
    padding-top:5%;
  }

  .company1{
    padding-bottom:5%;
    }

  .company6{
    padding-bottom:5%;
  }

  .new3{
    writing-mode: vertical-rl;
    float:left;
    font-size:50px;
    width:20%;
  }

  .new5{
    float:right;
  }

  .news{
    margin-top:10%;
  }

  .fed{
    width:100%;
    margin-top:5%;
  }

  .fed2{
    margin-top:32px;
    border-bottom: 1px solid #524e4d;
    width:120px;
    margin: 0  auto;
  }

  .fed3{
    letter-spacing: 5px;
    font-size:24px;
  }

  .fed5{
    width: 100%;
  }

  .fed5 p{
    letter-spacing: 5px;
    font-size: 15px;
  }

  .fed0 p{
    letter-spacing: 5px;
  }

  .job{
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
    border-top:1px solid #aabcc2;
    background:#f8fbf8;
  }

  .fed5 li{
    padding: 32px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
  }

  .red{
    float: left;
    font-size: 10px;
    padding-left: 20px;
    width:120px;
  }

  .red2{
    font-style: normal;
  }

  .blue{
    float: left;
    font-size:10px;
  }

  .blue2{
    font-style: normal;
  }

  .bike{
    padding-left: 3%;
    font-size:10px;
  }

  .bike1{
    padding-top: 5%;
    padding-bottom:5%;
  }

  .bike2{
     padding-bottom:5%;
  }

  .bike3{
    padding-top: 3%;
  }

  .fade{
    width:100%;
    height:270px;
    background-image: url(../img/img3.jpg);
    background-size: cover;
  }

  .COMPANY p{
    width: 100%;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 0;
    letter-spacing: 1.5px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
  }

  .COMPANY{
    position:relative;
    background:black;
    height:150px;
    margin-top:25%;
  }

  .COMPANY img{
    width:100%;
    height:150px;
  }

  .COMPANY img:hover{
    opacity: 0.3;
    transition: 0.2s;
  }

  .top-wrapper-1 {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
  }

  .top-wrapper-2 h1 {
    position: absolute;
    top: 40%;
    left: 18%;
    color:white;
    font-size:15px;
  }

  .top-wrapper-2 h2 {
    position: absolute;
    top: 44%;
    left: 18%;
    color:white;
    font-size:10px;
  }

  .top-wrapper {
      width: 100%;
      height:700px;
      background-image: url(../img/singaito2.JPG);
      background-size:cover;
  }

  .header-left {
    float: left;
    padding-top:1%;
    padding-left:1%
  }

  .header-left img{
    width:50px;
    height:50px;
  }

  .header-left h1 {
    color: transparent;
    background-color: black;
    font-size: 15px;
    color: white;
    -webkit-background-clip: text;
    position:absolute;
    top:70%;
  }

  .fadenight {
      opacity: 0;
      transform: translate(-30px, 0px);
      transition: all 5s;
  }

  .fadelight {
      opacity: 0;
      transform: translate(0px, 0px);
      transition: all 3s;
  }

  .fadein {
      opacity: 0;
      transform: translate(0px, 50px);
      transition: all 1s;
  }

  .active {
      opacity: 1;
      transform: translate(0px, -20px);
  }

  .newtime {
      opacity: 0;
  }

  .newtime2{
    float:left;
    font-size:17px;
  }

  .newtime3{
    float:left;
    padding-left:30px;
    font-size:12px;
  }

  .section-title{
      font-family: "MS 明朝", serif;
      padding-top: 60px;
      font-size: 35px;
      border-bottom: 0.8px solid black;
      width: 110px;
      text-align: center;
      margin: 0 auto;
      transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
  }

  .NEWS{
    margin-top:2%;
  }

  .news{
    margin:5% auto 3% auto;
    width:80%;
    display:flex;
    justify-content:space-between;
  }

  .new5{
    float:right;
  }

  .delayFadein{
    width:70%;
  }

  .delayFadein2{
    margin-bottom:10%;
  }

  .job{
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
    border-top:1px solid #aabcc2;
    background:#f8fbf8;
  }


  .header-right {
      float: right;
      color: white;
      margin-top: 2%;
      font-size: 12px;
      margin-right:5%;
  }

  .header-right a{
    display:inline-block;
    color:white;
    padding-right:10px;
    padding-top:3%;
  }

  .message-wrapper {
    width: 1000px;
     width: 100%;
  }

  .message-wrapper h1 {
    padding-bottom: 5%;
    text-align: center;
  }

  .message-wrapper-2 h1{
   font-weight: 200;
   font-family:'Lato','Noto Sans JP'
   , 'ヒラギノ角ゴ ProN'
   , 'Hiragino Kaku Gothic ProN'
   , 'メイリオ', Meiryo
   , 'ＭＳ Ｐゴシック'
   , 'MS PGothic'
   , sans-serif;
  }

  .menu-wrapper h1 {
      float: left;
  }

  .menu-wrapper h2 {
      float: left;
  }

  .good-wrapper {
      margin-top: 10%;
  }

  .good-wrapper-2 {
      width: 100%;
      height: 450px;
  }

  .good-wrapper h1 {
      padding-bottom: 5%;
  }

  .good-wrapper-2 h1 {
      text-align: center;
  }

  .item-2 {
      position: relative;
      width: 100%;
      height: 150px;
      background: black;
      color: white;
      opacity: 0;
  }

  .item-2 img:hover {
    opacity: 0.3;
    transition: 0.2s;
  }

  .item-2 img {
    width: 100%;
    height: 150px;
    border: 1px solid white;
  }

  .item-2 p {
      width: 100%;
      font-size: 23px;
      position: absolute;
      top: 50%;
      left: 0;
      letter-spacing: 1.5px;
      transform: translateY(-50%);
      text-align: center;
      color: white;
  }

  .contact {
      text-align: center;
     margin-top: 15%;
  }

  .contact-2 h2 {
      font-weight: 400;
      font-family: 'Lato'
      , 'Noto Sans JP'
      , 'ヒラギノ角ゴ ProN'
      , 'Hiragino Kaku Gothic ProN'
      , 'メイリオ', Meiryo
      , 'ＭＳ Ｐゴシック'
      , 'MS PGothic'
      , sans-serif;
      font-size: 30px;
      padding-top: 20px;
  }

  .contact p {
      padding-bottom: 60px;
      padding-top:20px;
  }

  .contact-3 {
      border: 1px solid black;
      width: 200px;
      padding: 20px 190px;
      display: inline-block;
      transition: all 0.5s;
      font-family: "MS 明朝", serif;
      border-radius: 50px;
  }

  .contact-3:hover {
      background-color:#38b48b;
      color: white;
  }

  .contact-3 {
      border: 1px solid black;
      width: 200px;
      padding: 20px 50px;
      display: inline-block;
      margin-top: 20px;
      transition: all 0.5s;
      font-family: serif;
      border-radius: 50px;
  }

  .footer-2 {
      margin: 15% auto;
      width: 90%;
      font-size: 13px;
      font-family: "MS 明朝";
  }

  .footer-3 {
      float: left;
      width: 25%;
      font-family: serif;
  }

  .footer-3 p {
      font-weight: bold;
      padding-bottom: 7px;
  }

  .footer-3 span {
      font-weight: bold;
  }

  .dre {
      padding-left: 120px;
  }

  .footer-4 p {
      font-size: 10px;
      padding-left:5%;
      padding-bottom:5%;
  }

  .good-wrapper {
      text-align: center;
  }
}

@media screen and (min-width:768px) and ( max-width:1023px) {
  .spWrap{
      display:none;
    }

  .pc2{
    display:none;
    }

  .pc3{
    display:none;
    }

  .pc4{
    display:none;
    }

  .top{
    width:100%;
    height:400px;
    background-image: url(../img/IMG_2774.JPG);
    background-size: cover;
  }

  .top2{
    width:100%;
    height:300px;
    background-image: url(../img/IMG_2819.JPG);
    background-size: cover;
  }

  .new3{
     writing-mode: vertical-rl;
     float:left;
  }

  .new5{
    float:right;
  }

  .news{
    margin-top:10%;
  }

  .fed{
    width:100%;
    padding: 70px 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .fed2{
    float:left;
    margin-left: 8%;
    margin-top:32px;
  }

  .fed3{
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    font-size:24px;
  }

  .fed5{
    width:600px;
    float: right;
  }

  .fed5 p{
    letter-spacing: 5px;
    font-size: 19px;
  }

  .fed0 p{
    letter-spacing: 5px;
  }

  .blue p{
    font-size:17px;
  }

  .job{
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
    border-top:1px solid #aabcc2;
    background:#f8fbf8;
  }

  .fed5 li{
    padding: 32px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
  }

  .red{
    width: 200px;
    float: left;
    font-size: 14px;
    padding-left: 20px;
  }

  .red2{
    font-style: normal;
  }

  .bike{
    padding-left: 3%;
  }

  .bike1{
    padding-bottom:5%;
    padding-top:5%;
  }

  .bike2{
    padding-bottom:5%;
  }

  .blue{
    float: left;
  }

  .blue2{
   font-style: normal;
  }

  .fade{
    width:100%;
    height:380px;
    background-image: url(../img/IMG_2820.JPG);
    background-size: cover;
  }

  .COMPANY p{
    width: 100%;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 0;
    letter-spacing: 1.5px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
  }

  .COMPANY{
    position:relative;
    background:black;
    height:300px;
    margin-top:15%;
  }

  .COMPANY img{
    width:100%;
    height:300px;
  }

  .COMPANY img:hover{
    opacity: 0.3;
    transition: 0.2s;
  }

  .company{
    padding-bottom:5%;
    padding-top:5%;
  }

  .company1{
    padding-bottom:5%;
    }

  .company6{
    padding-bottom:5%;
  }

  .top-wrapper-1 {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
  }

  .top-wrapper-2 h1 {
    position: absolute;
    top: 40%;
    left: 60%;
    color:white;
    font-size:20px;
  }

  .top-wrapper-2 h2 {
    position: absolute;
    top: 45%;
    left: 62%;
    color:white;
    font-size:15px;
  }

  .top-wrapper {
      width: 100%;
      height:800px;
      background-image: url(../img/singaito.JPG);
      background-size:cover;
  }

  .header-left span {
      display: none;
  }

  .fadenight {
      opacity: 0;
      transform: translate(-30px, 0px);
      transition: all 5s;
  }

  .fadelight {
      opacity: 0;
      transform: translate(0px, 0px);
      transition: all 3s;
  }

  .fadein {
      opacity: 0;
      transform: translate(0px, 50px);
      transition: all 1s;
  }

  .active {
      opacity: 1;
      transform: translate(0px, -20px);
  }

  .newtime {
      opacity: 0;
  }

  .newtime2{
    float:left;


    font-size:20px;
  }

  .newtime3{
    float:left;
    padding-left:50px;
    font-size:18px;
  }

  .section-title{
      font-family: "MS 明朝", serif;
      padding-top: 60px;
      font-size: 35px;
      border-bottom: 0.8px solid black;
      width: 110px;
      text-align: center;
      margin: 0 auto;
      transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
  }

  .NEWS{
    margin-top:2%;
  }

  .news{
    margin:5% auto 3% auto;
    width:80%;
    display:flex;
    justify-content:space-between;
  }

  .new3{
     writing-mode: vertical-rl;
     float:left;
     font-size:60px;
     width:20%;
  }

  .new5{
    float:right;
  }

  .delayFadein{
    width:70%;
  }

  .delayFadein2{
    margin-bottom:10%;
  }

  .fed3{
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    font-size:24px;
  }

  .fed5 p{
    letter-spacing: 5px;
  }

  .fed0 p{
    letter-spacing: 5px;
  }

  .job{
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
    border-top:1px solid #aabcc2;
    background:#f8fbf8;
  }

  .fed5 li{
    padding: 32px 0;
    overflow: hidden;
    border-bottom: 1px solid #aabcc2;
  }

  .header-right {
      float: right;
      width: 25%;
      min-width: 345px;
      font-size: 17px;
      color: white;
      margin-right: 5%;
      margin-top: 3%;
  }

  .header-right a{
    display:inline-block;
    color:white;
    padding-right:30px;
  }

  .message-wrapper {
    width: 1000px;
     width: 100%;
  }

  .message-wrapper h1 {
    padding-bottom: 5%;
    text-align: center;
  }

  .message-wrapper-2 h1{
   font-weight: 200;
   font-family:'Lato','Noto Sans JP'
   , 'ヒラギノ角ゴ ProN'
   , 'Hiragino Kaku Gothic ProN'
   , 'メイリオ', Meiryo
   , 'ＭＳ Ｐゴシック'
   , 'MS PGothic'
   , sans-serif;
  }

  .menu-wrapper h1 {
      float: left;
  }

  .menu-wrapper h2 {
      float: left;
  }

  .header-left {
      float: left;
      padding-top:1%;
      padding-left:5%
  }

  .header-left img{
    width:70px;
    height:70px;
  }

  .header-left h1 {
      color: transparent;
      background-color: black;
      font-size: 20px;
      color: white;
      -webkit-background-clip: text;
      position:absolute;
      top:80%;
  }

  .header-left span {
      color: yellow;
  }

  .item img {
      width: 100%;
      vertical-align: top;
  }

  .item {
      width: 50%;
      float: left;
      position: relative;
      opacity: 0;
  }

  .item p {
      width: 100%;
      font-size: 23px;
      position: absolute;
      top: 50%;
      left: 0;
      letter-spacing: 1.5px;
      transform: translateY(-50%);
      text-align: center;
      color: white;
  }

  .good-wrapper {
      margin-top: 10%;
  }

  .good-wrapper-2 {
      width: 100%;
      height: 450px;
  }

  .good-wrapper h1 {
      padding-bottom: 5%;
  }

  .good-wrapper-2 h1 {
      text-align: center;
  }

  .item-2 {
      float: left;
      position: relative;
      width: 50%;
      height: 340px;
      background: black;
      color: white;
      opacity: 0;
  }

  .item-2 p {
      width: 100%;
      font-size: 23px;
      position: absolute;
      top: 50%;
      left: 0;
      letter-spacing: 1.5px;
      transform: translateY(-50%);
      text-align: center;
      color: white;
  }

  .contact {
      text-align: center;
      margin-top: 15%;
  }

  .contact-2 h2 {
      font-weight: 400;
      font-family: 'Lato'
      , 'Noto Sans JP'
      , 'ヒラギノ角ゴ ProN'
      , 'Hiragino Kaku Gothic ProN'
      , 'メイリオ', Meiryo
      , 'ＭＳ Ｐゴシック'
      , 'MS PGothic'
      , sans-serif;
      font-size: 30px;
      padding-top: 20px;
  }

  .contact p {
      padding-bottom: 60px;
      padding-top:20px;
  }

  .contact-3 {
      border: 1px solid black;
      width: 200px;
      padding: 20px 190px;
      display: inline-block;
      transition: all 0.5s;
      font-family: "MS 明朝", serif;
      border-radius: 50px;
  }

  .contact-3:hover {
      background-color:#38b48b;
      color: white;
  }

  .item img:hover {
      opacity: 0.3;
      transition: 0.2s;
  }

  .item img {
      border: 1px solid white;
  }

  .item-2 img:hover {
      opacity: 0.3;
      transition: 0.2s;
  }

  .item-2 img {
      width: 100%;
      height: 340px;
      border: 1px solid white;
  }

  .contact-3 {
      border: 1px solid black;
      width: 200px;
      padding: 20px 50px;
      display: inline-block;
      margin-top: 20px;
      transition: all 0.5s;
      font-family: serif;
      border-radius: 50px;
  }

  .footer-2 {
      margin: 12% auto 0 auto;
      width: 40%;
      font-size: 13px;
      font-family: "MS 明朝";
  }

  .footer-3 {
      float: left;
      width: 25%;
      font-family: serif;
  }

  .footer-3 p {
      font-weight: bold;
  }

  .footer-3 span {
      font-weight: bold;
  }

  .dre {
      padding-left: 120px;
  }

  .footer-4 p {
      font-size: 10px;
      padding-top: 5%;
      padding-bottom:5%;
      padding-left: 5%;
  }

  .good-wrapper {
      text-align: center;
  }

  .lesson-wrapper-4{
     margin:0 auto;
     width:60%;
  }

  .lesson-wrapper-4 h1{
    font-size:80px;
    float:left;
    color:white;
    padding-top:25%;
  }

  .lesson-wrapper-4 h2{
    float:left;
    padding-top:7%;
    font-size:25px;
    padding-left:5%;
    color:white;
  }
}

@media screen and (min-width: 1024px) {

.spWrap{
    display:none;
  }

.pc2{
  display:none;
  }

.pc3{
  display:none;
  }

.pc4{
  display:none;
  }

.top{
  width:100%;
  height:400px;
  background-image: url(../img/IMG_2774.JPG);
  background-size: cover;
}

.top2{
  width:100%;
  height:400px;
  background-image: url(../img/IMG_2819.JPG);
  background-size: cover;
}

.new3{
   writing-mode: vertical-rl;
   float:left;
}

.new5{
  float:right;
}

.news{
  margin-top:10%;
}

.fed{
  width:960px;
  padding: 70px 0;
  margin: 0 auto;
  overflow: hidden;
}

.fed2{
  float:left;
  margin-top:32px;
}

.fed3{
  writing-mode: vertical-rl;
  letter-spacing: 5px;
  font-size:24px;
}

.fed5{
  width: 782px;
  float: right;
}

.fed0{
  width: 850px;
  float: right;
}

.fed5 p{
  letter-spacing: 5px;
  font-size: 19px;
}

.fed0 p{
  letter-spacing: 5px;
}

.blue p{
  font-size:17px;
}

.job{
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #aabcc2;
  border-top:1px solid #aabcc2;
  background:#f8fbf8;
}

.fed5 li{
  padding: 32px 0;
  overflow: hidden;
  border-bottom: 1px solid #aabcc2;
}

.red{
  width: 220px;
  float: left;
  font-size: 14px;
  padding-left: 20px;
}

.red2{
  font-style: normal;
}

.bike{
  padding-left: 3%;
}

.bike1{
  padding-bottom:5%;
  padding-top:5%;
}

.bike2{
  padding-bottom:5%;
}

.bike0

.blue{
  float: left;
}

.blue2{
 font-style: normal;
}

.fade{
  width:100%;
  height:380px;
  background-image: url(../img/IMG_2820.JPG);
  background-size: cover;
}

.COMPANY p{
  width: 100%;
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 0;
  letter-spacing: 1.5px;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.COMPANY{
  position:relative;
  background:black;
  height:400px;
  margin-top:15%;
}

.COMPANY img{
  width:100%;
  height:400px;
}

.COMPANY img:hover{
  opacity: 0.3;
  transition: 0.2s;
}

.company{
  padding-bottom:5%;
  padding-top:5%;
}

.company1{
  padding-bottom:5%;
  }

.company6{
  padding-bottom:5%;
}

.top-wrapper-1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.top-wrapper-2 h1 {
  position: absolute;
  top: 40%;
  left: 60%;
  color:white;
  font-size:20px;
}

.top-wrapper-2 h2 {
  position: absolute;
  top: 45%;
  left: 62%;
  color:white;
  font-size:15px;
}

.top-wrapper {
    width: 100%;
    height:800px;
    background-image: url(../img/singaito.JPG);
    background-size:cover;
}

.header-left span {
    display: none;
}

.fadenight {
    opacity: 0;
    transform: translate(-30px, 0px);
    transition: all 5s;
}

.fadelight {
    opacity: 0;
    transform: translate(0px, 0px);
    transition: all 3s;
}

.fadein {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s;
}

.active {
    opacity: 1;
    transform: translate(0px, -20px);
}

.newtime {
    opacity: 0;
}

.newtime2{
  float:left;


  font-size:20px;
}

.newtime3{
  float:left;
  padding-left:50px;
  font-size:18px;
}

.section-title{
    font-family: "MS 明朝", serif;
    padding-top: 60px;
    font-size: 35px;
    border-bottom: 0.8px solid black;
    width: 110px;
    text-align: center;
    margin: 0 auto;
    transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}

.NEWS{
  margin-top:2%;
}

.news{
  margin:5% auto 3% auto;
  width:80%;
  display:flex;
  justify-content:space-between;
}

.new3{
   writing-mode: vertical-rl;
   float:left;
   font-size:60px;
   width:20%;
}

.new5{
  float:right;
}

.delayFadein{
  width:70%;
}

.delayFadein2{
  margin-bottom:10%;
}

.fed{
  width:960px;
  padding: 70px 0;
  margin: 0 auto;
  overflow: hidden;
}

.fed3{
  writing-mode: vertical-rl;
  letter-spacing: 5px;
  font-size:24px;
}

.fed5{
  width: 782px;
  float: right;
}

.fed0{
  width: 850px;
  float: right;
}

.fed5 p{
  letter-spacing: 5px;
}

.fed0 p{
  letter-spacing: 5px;
}

.job{
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #aabcc2;
  border-top:1px solid #aabcc2;
  background:#f8fbf8;
}

.fed5 li{
  padding: 32px 0;
  overflow: hidden;
  border-bottom: 1px solid #aabcc2;
}

.red{
  width: 220px;
  float: left;
  font-size: 14px;
  padding-left: 20px;
}

.red2{
  font-style: normal;
}

.bike{
  padding-left: 3%;
}

.bike0{

}

.blue{
  float: left;
}

.blue2{
 font-style: normal;
}

.header-right {
    float: right;
    width: 25%;
    min-width: 345px;
    font-size: 17px;
    color: white;
    margin-right: 5%;
    margin-top: 3%;
}

.header-right a{
  display:inline-block;
  color:white;
  padding-right:30px;
}

.message-wrapper {
  width: 1000px;
   width: 100%;
}

.message-wrapper h1 {
  padding-bottom: 5%;
  text-align: center;
}

.message-wrapper-2 h1{
 font-weight: 200;
 font-family:'Lato','Noto Sans JP'
 , 'ヒラギノ角ゴ ProN'
 , 'Hiragino Kaku Gothic ProN'
 , 'メイリオ', Meiryo
 , 'ＭＳ Ｐゴシック'
 , 'MS PGothic'
 , sans-serif;
}

.menu-wrapper h1 {
    float: left;
}

.menu-wrapper h2 {
    float: left;
}

.header-left {
    float: left;
    padding-top:1%;
    padding-left:5%
}

.header-left img{
  width:70px;
  height:70px;
}

.header-left h1 {
    color: transparent;
    background-color: black;
    font-size: 20px;
    color: white;
    -webkit-background-clip: text;
    position:absolute;
    top:80%;
}

.header-left span {
    color: yellow;
}

.item img {
    width: 100%;
    vertical-align: top;
}

.item {
    width: 50%;
    float: left;
    position: relative;
    opacity: 0;
}

.item p {
    width: 100%;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 0;
    letter-spacing: 1.5px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.good-wrapper {
    margin-top: 10%;
}

.good-wrapper-2 {
    width: 100%;
    height: 450px;
}

.good-wrapper h1 {
    padding-bottom: 5%;
}

.good-wrapper-2 h1 {
    text-align: center;
}

.item-2 {
    float: left;
    position: relative;
    width: 50%;
    height: 340px;
    background: black;
    color: white;
    opacity: 0;
}

.item-2 p {
    width: 100%;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 0;
    letter-spacing: 1.5px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.contact {
    text-align: center;
    margin-top: 15%;
}

.contact-2 h2 {
    font-weight: 400;
    font-family: 'Lato'
    , 'Noto Sans JP'
    , 'ヒラギノ角ゴ ProN'
    , 'Hiragino Kaku Gothic ProN'
    , 'メイリオ', Meiryo
    , 'ＭＳ Ｐゴシック'
    , 'MS PGothic'
    , sans-serif;
    font-size: 30px;
    padding-top: 20px;
}

.contact p {
    padding-bottom: 60px;
    padding-top:20px;
}

.contact-3 {
    border: 1px solid black;
    width: 200px;
    padding: 20px 190px;
    display: inline-block;
    transition: all 0.5s;
    font-family: "MS 明朝", serif;
    border-radius: 50px;
}

.contact-3:hover {
    background-color:#38b48b;
    color: white;
}

.item img:hover {
    opacity: 0.3;
    transition: 0.2s;
}

.item img {
    border: 1px solid white;
}

.item-2 img:hover {
    opacity: 0.3;
    transition: 0.2s;
}

.item-2 img {
    width: 100%;
    height: 340px;
    border: 1px solid white;
}

.contact-3 {
    border: 1px solid black;
    width: 200px;
    padding: 20px 50px;
    display: inline-block;
    margin-top: 20px;
    transition: all 0.5s;
    font-family: serif;
    border-radius: 50px;
}

.footer-2 {
    margin: 12% auto 0 auto;
    width: 40%;
    font-size: 13px;
    font-family: "MS 明朝";
}

.footer-3 {
    float: left;
    width: 25%;
    font-family: serif;
}

.footer-3 p {
    font-weight: bold;
}

.footer-3 span {
    font-weight: bold;
}

.dre {
    padding-left: 120px;
}

.footer-4 p {
    font-size: 10px;
    padding-top: 5%;
    padding-bottom:5%;
    padding-left: 5%;
}

.good-wrapper {
    text-align: center;
}

.lesson-wrapper-4{
  padding-left:10%;
   margin:0 auto;
   width:60%;
   padding-top:10%;
}

.lesson-wrapper-4 h1{
  font-size:80px;
  float:left;
  color:white;
}

.lesson-wrapper-4 h2{
  float:left;
  padding-top:7%;
  font-size:25px;
  padding-left:5%;
  color:white;
}
  }
