* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
}
body{
font-family: serif;
}
.top-wrapper{
  width: 100%;
  height:800px;
  background-image: url(../img/mati.jpg);
  background-size: cover;
  display:none;
}
.top-wrapper-2  h1{
position: absolute;
top:25%;
left: 60%;
}

.top-wrapper-2  h2{
position: absolute;
top:30%;
left: 62%;
}
.header-right{
  float:right;
}
.top-wrapper-1{
  display: none;
}
.fadein {
  opacity : 0;
  transform : translate(0, 100px);
  transition : all 1s;
}
.active{
  opacity : 1;
  transform : translate(0, 0);
}
.menu-wrapper h1{
  float: left;
}
.menu-wrapper h2{
   float: left;
}


.header-right p{
  float:left;
}
.header-left{
  float:left;
}
.header-left  h1{
  margin-left:50px; padding-bottom:30px;  color: transparent;
  background-color : black;
  text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
  -webkit-background-clip : text;
  font-size:50px; color:white;
  -webkit-background-clip : text;
}
.header-left span{
  color:yellow;
}
.top-wrapper-2{
  "color:white
}
.top-wrapper-2  h1{
 color:white;
  text-shadow : rgba(255,255,255,0.5) 0 5px 6px,
  rgba(255,255,255,0.2) 1px 3px 3px;
}
.top-wrapper-2  h2{
  color:white;  text-shadow :
  rgba(255,255,255,0.5) 0 5px 6px,
  rgba(255,255,255,0.2) 1px 3px 3px;
   -webkit-background-clip : text;
}



.item img {
    width: 100%;
    vertical-align: top;
}

.item {
    width: 50%;
    float: left;
    position: relative;
}

.item p {
    width: 100%;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 0;
    letter-spacing: 1.5px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.message-wrapper{
  width: 1000px;
}

.good-wrapper{
  margin-top: 10%;
}
.good-wrapper-2{
   width:100%;height:450px;
}
.good-wrapper h1{
padding-bottom:5%;
}
.good-wrapper-2   h1{
  text-align: center;
}
.item-2{
  float: left;
  position: relative;
  width: 50%;
}
.item-2 p {
    width: 100%;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 0;
    letter-spacing: 1.5px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    }
    .contact {
      text-align: center;
      margin-top: 100px;font-weight:
    }
    .contact-2  h2{
      font-family: "MS 明朝", serif;
      font-size: 30px;
      padding-top: 20px;
     }
    .contact  p{
      padding-bottom: 60px;
    }
    .contact-3{
    border:1px solid  black;
    width:200px;
    padding: 20px  190px;
    display: inline-block;
    transition: all 0.5s;
      font-family: "MS 明朝", serif;
      border-radius: 50px;
    }
    .contact-3:hover{
      background-color:black;
      color: white;
    }
    .item img:hover{
      opacity:0.3;
      transition: 0.2s;
    }

    .item img{
      opacity:0.6;
      border:1px solid  white;
    }
    .item-2 img:hover{
      opacity:0.3;
      transition: 0.2s;
    }

    .item-2{
      width:50%; height:340px; background:black;color:white;
    }
    .item-2  img{
      width:100%;
      height:340px;
      border:1px solid  white;
      opacity:0.6;
    }

    .message-wrapper{
      width:100%;
      margin-top:10%;
    }
    .message-wrapper h1{
    padding-bottom:5%;  text-align:center;
    }
    .contact{
      text-align:center;  margin-top:15%;
    }
    .contact-2  h2{
    font-family: serif;font-size: 30px;
    }
    .contact-3{
      border:1px solid  black;
       width:200px;
       padding: 20px  50px;
       display: inline-block;
       margin-top:20px;
       transition: all 0.5s;
       font-family:serif;
       border-radius:50px;
    }
    .footer-2 {
      padding-top: 150px;
       margin-bottom: 300px;
       padding-left: 40px;
       margin:0 auto;
       width:80%;
       font-size: 13px;
        font-family: "MS 明朝";
        }
        .footer-3{
          float: left;
          width:16.6%;
          font-family: serif;
        }
        .footer-3 p{
          font-weight:bold;
        }
        .footer-3  span{

        }
        .footer-2{
          padding-left: 40px;
        }
        .footer-3  span{
         font-weight:bold ;
        }
        .dre{
          padding-left: 120px;
        }
        .footer-3 p{
          padding-bottom: 7px;
        }
        .footer-4 p{
          font-size:10px;
          padding-left: 150px;
          padding-bottom: 40px;
        }
        .good-wrapper{
          text-align:center;
          }
          #about {
              width: 100%;
              background:black;
          }

          #about .box {
              width: 100%;
              height: 100px;
          }

          #about .left {
              width: 38%;
              background:black;
              color: white;
              float: left;
              text-align: left;
              line-height: 60px;
              height: 400px;
              position: relative;
          }

          #about .left h3 {
              font-size: 25px;
          }

          #about .left h4 {
              font-size: 75px;
          }

          #about .left .leftWrap {
              width: 80%;
              position: absolute;
              bottom: 5%;
              left: 0;
              right: 0;
              margin: auto;
          }

          #about .center {
              width: 55%;
              background:white;
              color: black;
              float: left;
              text-align: left;
              height: 400px;
              position: relative;
          }

          #about .center .centerWrap {
              width: 70%;
              position: absolute;
              top: 70%;
              left: 60%;
              transform: translateY(-70%) translateX(-60%);
              margin: auto;
          }

          #about .center .centerWrap h3 {
              font-size: 35px;
              margin-bottom: 20px;
          }

          #about .center .centerWrap p {
              font-size: 18px;
              line-height: 40px;
          }

          #about .right {
              width: 5%;
              background:black;
              float: left;
              height: 400px;
          }
          <div class="lesson-wrapper" style="margin-top:10%">
            <div class="lesson-wrapper-4" style="padding-left:10%;">
              <h1 style="font-size:60px; float:left;">COMPANY</h1>
              <h2 style="float:left; padding-top:3.5%;; font-size:20px; padding-left:3%; color:black;">会社概要</h2>
              <div class="lesson-wrapper-7"  style="border-bottom:3px solid blue; width:500px;margin-left: 10%;float:left; padding-top:5%;">
              </div>
              <div class="clear">
              </div>
              </div>

            <div class="lesson-wrapper-2" style="margin:0  auto;  width:90%;">
              <div class="lesson-wrapper-1" style="display: flex;justify-content: space-between;">
                <div class="lesson-wrapper-5" style="float:left;">
                <img src="img/IMG_2657.JPG" alt="" style="width:500px; height:500px; padding-top:20%;">
              </div>
              <div class="lesson-wrapper-9" style="float:left;margin-top:6%;">
                <div class="lesson-wrapper-8" style="border-bottom:3px solid blue; margin-top:30px;;" >
                  <h1 style="font-size:17px; letter-spacing:6px;">電気設備の保守事業で半世紀</h1>
                  <h2 style="font-size:30px;">株式会社昭栄電気産業</h2>
                </div>
                <div class="lesson-wrapper-10" style="padding-top:20%">
                  <div class="lesson-wrapper-3" style="float:left;   width:120px;">
                    <p style="font-size:17px; padding-bottom:20px;">屋号</p>
                    <p style="font-size:17px; padding-bottom:20px;">所在地</p>
                    <p style="font-size:17px; padding-bottom:20px;">売上高</p>
                    <p style="font-size:17px; padding-bottom:20px;">社員数</p>
                  </div>
                  <div class="lesson-wrapper-3" style=" float:left; ">
                    <p style="font-size:17px; padding-bottom:20px;">昭栄電気産業</p>
                    <p style="font-size:17px; padding-bottom:20px;"><a href="#">東京都葛飾区鎌倉3-58-2</a></p>
                    <p style="font-size:17px; padding-bottom:20px;">??億</p>
                    <p style="font-size:17px;padding-bottom:20px;">？？数</p>
                  </div>
                  <div class="clear">
                  </div>
                </div>
              </div>
              <div class="clear">
              </div>
            </div>
          </div>
         </div>
